.footer {
  padding: 3rem 0;
}
.footer__title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-family: var(--title-font);
}
.footer__icon {
  display: block;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.footer__link,
.footer .text {
  font-size: 1.5rem;
  position: relative;
}
.footer__link::after {
  display: block;
  content: '';
  bottom: -0.1rem;
  left: 0;
  position: absolute;
  height: 0.1rem;
  width: 0;
  background-color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
}
.text--mb {
  margin-bottom: 2rem;
}

.footer__span {
  font-size: 1.4rem;
}
.footer .item:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__block {
  margin-bottom: 3rem;
}
.footer__block--rg {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .footer__link:hover::after {
    width: 100%;
  }
  .footer__policies {
    display: flex;
    justify-content: space-between;
  }
  .footer__block {
    margin-bottom: 0;
  }
  .footer__block--rg {
    text-align: right;
  }
}
