.header__wrapper {
  position: relative;
}
body.open-menu {
  overflow: hidden;
}
.header {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__flex {
  display: flex;
  align-items: center;
}
/* .hero__wrapper-main .header__logo {
    color: var(--first-brand-color);
} */
.header__btn {
  width: 6rem;
  height: 5rem;
  position: relative;
  z-index: 10;
  cursor: pointer;
  margin-right: 2rem;
}
.header__btn span {
  width: 70%;
  height: 0.2rem;
  margin: 0 auto;
  display: block;
  background-color: var(--main-text-color);
  position: relative;
}
.header__btn span::before,
.header__btn span::after {
  width: 100%;
  height: 0.2rem;
  content: '';
  display: block;
  background-color: var(--main-text-color);
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.header__btn span::before {
  top: -0.8rem;
}
.header__btn span::after {
  bottom: -0.8rem;
}
.nav {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 9;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
.nav__list {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 15rem 3rem;
  opacity: 0;
  transition-delay: 0.6s;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-property: opacity;
}
.nav__item:not(:last-child) {
  margin-bottom: 2rem;
}
.nav__link {
  font-size: 1.8rem;
}
.nav.open-menu {
  left: 0;
  visibility: visible;
}
.open-menu .nav__list {
  opacity: 1;
}

.cart__btn {
  display: none;
  align-items: center;
  background-color: var(--main-text-color);
  border-radius: 1rem;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cart__btn svg {
  width: 2rem;
  height: auto;
  display: block;
  margin-right: 1rem;
  fill: var(--sub-text-color);
}
.cart__btn .cart__span {
  font-size: 2.2rem;
  font-family: var(--title-font);
  color: var(--sub-text-color);
}

@media screen and (min-width: 1024px) {
  .cart__btn {
    display: flex;
    margin-left: 2rem;
  }
  .header {
    padding: 2rem 0;
  }
  .nav__link {
    position: relative;

    font-size: 1.6rem;
  }
  .nav__link::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0.1rem;
    background-color: var(--main-text-color);
    bottom: -0.3rem;
    transition: all 0.3s ease-in-out;
  }
  .nav__link:hover::after {
    width: 100%;
  }

  .header__btn:hover span::before,
  .header__btn:hover span::after {
    width: 60%;
  }

  .cart__btn:hover {
    transform: scale(1.1);
  }

  .nav {
    position: static;
    top: auto;
    left: auto;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    min-height: fit-content;
    overflow: visible;
    visibility: visible;
  }
  .nav__list {
    margin: 0;
    padding: 0;
    opacity: 1;
    display: flex;
  }
  .header__btn {
    display: none;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 5rem;
  }
}
