.orders__block .sub-title {
  padding-bottom: 2rem;
}
.shop-products {
  padding: 30rem 0;
}
.input__card-number {
  position: relative;
}
.input__card-number::before {
  display: block;
  content: '';
  position: absolute;
  top: 0.9rem;
  right: 2rem;
  width: 5rem;
  height: 3.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.input__card-number.js-card_mastercard::before {
  background-image: url('../img/icons/mastercard.png');
}
.input__card-number.js-card_visa::before {
  background-image: url('../img/icons/visa.png');
}
.input__card-number.js-card_discover::before {
  background-image: url('../img/icons/discover.png');
}
.orders__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.orders__btn svg {
  fill: var(--sub-text-color);
  width: 2rem;
  margin-right: 2rem;
  transition: all 0.3s ease-in-out;
}

.orders__table {
  width: 100%;
  border: none;
  margin-bottom: 3rem;
  text-align: left;
  border-collapse: collapse;
}
.orders__close-btn {
  background-image: url("data:image/svg+xml,%3Csvg height='365pt' viewBox='0 0 365.71733 365' width='365pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f44336'%3E%3Cpath d='m356.339844 296.347656-286.613282-286.613281c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503906-12.5 32.769532 0 45.25l286.613281 286.613282c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082032c12.523438-12.480468 12.523438-32.75.019532-45.25zm0 0'/%3E%3Cpath d='m295.988281 9.734375-286.613281 286.613281c-12.5 12.5-12.5 32.769532 0 45.25l15.082031 15.082032c12.503907 12.5 32.769531 12.5 45.25 0l286.632813-286.59375c12.503906-12.5 12.503906-32.765626 0-45.246094l-15.082032-15.082032c-12.5-12.523437-32.765624-12.523437-45.269531-.023437zm0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}
.orders__table-title {
  font-size: 1.2rem;
}
.orders__table .text {
  font-size: 1.4rem;
}
.orders__table td,
.orders__table th {
  padding: 0.5rem;
}
.form {
  margin-top: 10rem;
  padding: 2rem;
}
.label {
  width: 100%;
  display: block;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  position: relative;
}
.hidden {
  display: none;
}
.error-span {
  font-size: 1.3rem;
  color: var(--accent-color);
  position: absolute;
  bottom: -2rem;
  left: 1rem;
}
::-webkit-input-placeholder {
  color: var(--sub-bg-color);
}
::-moz-placeholder {
  color: var(--sub-bg-color);
} /* Firefox 19+ */
:-moz-placeholder {
  color: var(--sub-bg-color);
} /* Firefox 18- */
:-ms-input-placeholder {
  color: var(--sub-bg-color);
}
.input {
  width: 100%;
  display: block;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  background-color: var(--first-brand-color);
  border-radius: 4rem;
}
.select {
  width: 100%;
  display: block;
  margin-top: 0.5rem;
  border: none;
  color: var(--sub-bg-color);
  background-color: var(--first-brand-color);
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 4rem;
  outline: none;
}
option {
  background-color: #000;
  color: #fff;
}
.invisible {
  display: none;
}
.checkbox-label {
  padding-left: 3rem;
  position: relative;
}
.checkbox-input {
  opacity: 0;
  visibility: hidden;
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--main-text-color);
}
.checkbox-label::before {
  display: block;
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.3rem solid var(--main-text-color);
  left: 0;
  top: 0.5rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
select {
  appearance: none;
}
.select-label {
  position: relative;
}
.select-label::before {
  display: block;
  content: '';
  top: calc(50% - 0.7rem);
  right: 1rem;
  width: 3rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 330 330' style='enable-background:new 0 0 330 330;' xml:space='preserve'%3E%3Cpath id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
}

.accept__box {
  padding: 1rem 0;
  text-align: left;
}
.accept__box .text {
  margin-bottom: 1rem;
}
.accept__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 33rem;
}
.accept__img {
  display: block;
  width: 10rem;
  height: 8rem;
  object-fit: contain;
}

@media screen and (min-width: 1440px) {
  .orders__table td,
  .orders__table th {
    padding: 2rem;
  }
  .inputs-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .label {
    width: 49%;
  }
  .checkbox-label {
    width: 100%;
  }
  .orders__table-title {
    font-size: 2rem;
  }
  .accept__box {
    display: flex;
    align-items: center;
  }
  .accept__box .text {
    margin-bottom: 0;
    margin-right: 5rem;
  }
  .orders__table .text {
    font-size: 1.6rem;
  }
  .accept__item:not(:last-child) {
    margin-right: 1.5rem;
  }
}
